<h1>Dice Roll</h1>

<form action ="/process_roll">
  <label for="number_given"> Number of dice to roll? </label>
  <input id="number_given" name="dice">

  <label for="sides_given"> How many sides per die? </label>
  <input id="sides_given" name="sides">

  <button>Roll!</button>

</form>
